window#waybar {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#clock {
    background-color: #232323;
    color: #9ece6a;
    padding: 8px 16px;
    border-radius: 10px;
}

#battery {
    color: #9ece6a;
    background-color: #232323;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;

}
