window#waybar {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#clock {
    background-color: #232323;
    color: #9ece6a;
    padding: 8px 16px;
    border-radius: 10px;
}

#battery {
    color: #9ece6a;
    background-color: #232323;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;

}

#workspaces button {
    background-color: #232323;
    color: #9ece6a;
    border-radius: 10px;
    padding: 0px 12px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button.active {
    background-color: #9ece6a;
    color: #232323;
}

#language {
    background-color: #232323;
    color: #9ece6a;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
}

#custom-gpu-temp {
    background-color: #232323;
    color: #9ece6a;
    padding: 8px 12px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
}
